<div class="pattern-square"></div>
<section class="py-lg-9 py-6 bg-light bg-opacity-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-12">
                <div class="text-center mb-5 mb-lg-7">
                    <small
                        class="border rounded-pill border-primary-subtle text-primary text-uppercase px-3 py-2 fw-semibold">Cibles</small>
                    <h2 class="mt-4 px-lg-8">Conçu pour s’adapter à chaque activité</h2>
                    <p class="mb-0">
                        StockPro simplifie la gestion des ventes, des achats et du stock, quelle que soit la taille ou
                        la nature de votre commerce.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card card-lift mb-5 mb-lg-0">
                    <div class="card-body p-lg-5">
                        <div class="mb-5">
                            <div
                                class="icon-lg icon-shape rounded-circle bg-warning bg-opacity-25 border border-warning border-opacity-10 border-4">
                                <i class="bi bi-cone-striped text-warning"></i>
                            </div>
                        </div>
                        <div class="mb-4">
                            <h4>Quincailleries</h4>
                            <p class="mb-0">
                                Gardez un œil sur chaque outil, pièce ou produit. Gagnez du temps lors des inventaires
                                et évitez les ruptures de stock.
                            </p>
                        </div>

                        <a href="/reasons#quincaillerie" class="icon-link icon-link-hover text-inherit stretched-link">
                            En savoir plus
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                                </path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card card-lift mt-lg-6 mb-5 mb-lg-0">
                    <div class="card-body p-lg-5">
                        <div class="mb-5">
                            <div
                                class="icon-lg icon-shape rounded-circle bg-info bg-opacity-25 border border-info border-opacity-10 border-4">
                                <i class="bi bi-bandaid-fill text-info"></i>
                            </div>
                        </div>
                        <div class="mb-4">
                            <h4>Pharmacies</h4>
                            <p class="mb-0">
                                Gérez efficacement les médicaments et les réapprovisionnements pour
                                garantir la disponibilité des produits essentiels.
                            </p>
                        </div>

                        <a href="/reasons#pharmacie" class="icon-link icon-link-hover text-inherit stretched-link">
                            En savoir plus
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                                </path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card card-lift mb-5 mb-lg-0">
                    <div class="card-body p-lg-5">
                        <div class="mb-5">
                            <div
                                class="icon-lg icon-shape rounded-circle bg-danger bg-opacity-25 border border-danger border-opacity-10 border-4">
                                <i class="bi bi-flask-fill text-danger"></i>
                            </div>
                        </div>
                        <div class="mb-4">
                            <h4>Parfumeries</h4>
                            <p class="mb-0">
                                Suivez vos ventes, vos gammes de produits et vos fournisseurs en toute simplicité.
                                Offrez une meilleure expérience à vos clients.
                            </p>
                        </div>

                        <a href="/reasons#parfumerie"
                            class="icon-link icon-link-hover text-inherit stretched-link stretched-link">
                            En savoir plus
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                                </path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card card-lift mt-lg-6 mb-5 mb-lg-0">
                    <div class="card-body p-lg-5">
                        <div class="mb-5">
                            <div
                                class="icon-lg icon-shape rounded-circle bg-primary bg-opacity-25 border border-primary border-opacity-10 border-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-people-fill text-primary" viewBox="0 0 16 16">
                                    <path
                                        d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="mb-4">
                            <h4>Dépôts & Grossistes</h4>
                            <p class="mb-0">
                                Optimisez le suivi de vos entrées et sorties de marchandises, contrôlez les livraisons
                                et maîtrisez les marges en temps réel.
                            </p>
                        </div>

                        <a href="/reasons#supérette" class="icon-link icon-link-hover text-inherit stretched-link">
                            En savoir plus
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                                </path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>